.container-fluid{
    padding: 0px;
    margin: 0px;
}

div {
  min-height : 40px;
  text-align: center;
  /*max-width:940px;*/
}

body {
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    margin: 0px;
    padding: 0px;
}

.header{
  background-color: rgb(41, 42, 43);
  height: 40px;
  text-align: center;   
  //background-image:url('https://c9.io/site/wp-content/themes/cloud9/img/bg_noise_grey.png') transparent;
  color:white;  
}

.header-dark {
  background-image: url("https://c9.io/site/wp-content/themes/cloud9/css/../img/noise-on-dark.png");
  background-color: rgb(60, 61, 62);
  color: rgb(255,255,255);
  font-size:130%;
  min-height: 80px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  z-index: 110;
  font-family: Arial;
  line-height:40px;
  font-size:16px;  
}

.footer-dark {
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  line-height:22px;
  background-color: rgb(40, 41, 42);
  color: rgb(255,255,255);
  font-size:11px;
  height: 100px;
  box-shadow: 0px -2px 20px 0px rgba(0,0,0,0.5);
  z-index: 1;
  background-image: url("https://c9.io/site/wp-content/themes/cloud9/css/../img/noise-on-dark.png");
}

h6{
  font-size:140%;
  font-weight: normal;
  margin: 0px;
  padding: 20px;
  text-transform: uppercase;
}

.footer{
  background-color: rgb(60, 61, 62);
  background-image: linear-gradient(90deg, transparent 0%, transparent 83%, rgba(0, 0, 0, 0.19) 100%);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.09) inset;
  font-family: CabinRegular,Helvetica,Arial,sans-serif;
  font-size:12px;
  text-shadow: 0px 1px 0px rgb(71, 72, 73);
  line-height: 38px;
  height:40px;
    color: black;
}

.content-container{
  border: 1px solid rgb(224,224,224);
  box-shadow: 0px 0px 18px 0px rgba(147,147,147,0.2);
  z-index: 90;
}

.skills {
  
  padding: 40px;
  border-bottom: 1px solid rgb(224,224,224);
  //background-color: rgb(240,241,242);
  display:none;
}

.box {
  background: url("https://c9.io/site/wp-content/themes/cloud9/css/../img/bg_vr.png") repeat-y scroll left center transparent;
}

.site {
    height: 200px;
  color: rgb(64,64,64);
  font-size: 13px;
}

h2{
  font-weight: bold;
  color: rgb(40,40,40);
  padding: 0px;
  margin: 0px;
    font-size: 13px;
}

span {
  font-size: 14px;
}